.img{
    height: 100%;
    width: 100%;
    color: white;
    position: absolute;
    z-index: 10;
    top: 600px;
}

@media screen and (max-width: 480px) {
    .img{
        top:550px;
        height: 580px;
        width: 390px;
    }
}