.facility{
    margin: 50px;
    margin-top: 550px;
    border-top: 2px solid #9470f3;
    border-bottom: 2px solid #9470f3;
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(black, #151517);
}
.fac{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
    color: white;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.cont{
    margin: 40px;
    width: 100px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .facility{
        margin-top: 70px;
        height: 1220px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .fac{
        margin-top: 320px;
        flex-direction: column;
    }

    img{
        width: 70px;
        height: 70px;
    }
    .cont{
        align-items: center;
    }

    .heading{
        font-size: 16px;
        text-align: center;
        font-weight: 600;
    }

    .chatbot{
        width: 200px;
        height: 200px;
    }
}