.faq{
        background-color: black;
        margin: 100px;
        text-align: center;
        color:white;
}
.card1{
        background-color: black;
        border: none;
}

@media screen and (max-width: 480px) {
        .faq{
                display: none;
        }
}

